@charset  "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
      height: 95vh;
      width: 100vw;
      background-color: rgb(197, 96, 96);
}

.h1principal {
    text-align: center;
}


main {
    height: 100vh;
    position: relative;
    background-color: rgb(177, 216, 177);
    background-size: cover;
    background-repeat: no-repeat;
}


section#telefone {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    height: 500px;
    width: 500px;
    background-color: rgb(138, 137, 216);
   
}

section#telefone, main {
    
}

